    <%= stylesheet_link_tag 'about', media: 'all' %>
    <div class="container">
        <h2>ジムなびへようこそ！</h2>
        <p><strong>ジムなび</strong>は、24時間営業のジムを探すあなたのための究極のガイドです。<br/>
        私たちのサイトでは、全国各地の24時間ジムの詳細なレビューや評価、ユーザーの体験談を提供しています。<br/>
        忙しいライフスタイルの中でも、自分にぴったりのジムを見つけるお手伝いをします。</p>
        
        <h3>主な機能</h3>
        <ul>
            <li><strong>レビューと評価</strong>: ユーザーの実際の体験をもとにしたリアルなレビューと評価を閲覧できます。</li>
            <li><strong>ジム検索</strong>: 地域や目的に応じて最適なジムを簡単に検索できます。</li>
            <li><strong>詳細情報</strong>: 各ジムの設備、料金プラン、アクセス方法など、詳細な情報を提供しています。</li>
            <li><strong>コミュニティ</strong>: フィットネス愛好者同士で交流できるコミュニティ機能を搭載しています。</li>
        </ul>
        
        <p><strong>なぜジムなび？</strong><br>
        私たちはユーザーが信頼できる情報を提供し、<br/>
        満足のいくフィットネス体験を得られるよう全力でサポートします。<br/>
        初心者から上級者まで、あらゆるフィットネスレベルに対応するジム情報を揃えており、<br/>
        フィットネスライフを充実させるためのパートナーとなります。</p>
        
        <p>今すぐ<strong>ジムなび</strong>であなたに最適な24時間ジムを見つけましょう!!</p>
    </div>