body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #0b1644;
  padding: 20px 40px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header li {
  margin: 0 10px;
}
header a {
  text-decoration: none;
  color: #343a40;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
header a:hover {
  background-color: #ced4da;
  color: #fff;
}
.logo {
  width: 200px;
  height: 100px;
}
main {
  flex: 1;
}
footer {
  background-color: #0b1644;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  margin: 0;
}